
body{
    background-image: url("../img/Kornet.png");
    height: 20vw;
    width: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* #homeh1{

    font-family: 'Lato', sans-serif;
    color: darkred;
    margin-bottom: 45px;
 }    */
 /*-----------------------------------------------BUTTONS START HERE-----------------------------*/   
#login{
    
     cursor: pointer;
     font-family: 'Lato', sans-serif;
     margin-right: 15px; 
     padding: 15px 40px;
     background-color: white;
     color: darkgray;
     font: bold;
     font-size: 20px;
     border: 2px solid darkgray;   
     border-radius: 8px;   
}
    #login:hover{
        box-shadow: 0 10px 20px darkgrey;
        color: darkred; 
    }

    #signup{
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        margin-left: 15px;
        padding: 15px 40px;
        background-color: white;
        color: darkgray;
        font: bold;
        font-size: 20px;
        border: 2px solid darkgray;   
        border-radius: 8px;   
    }
    #signup:hover{
           box-shadow: 0 10px 20px darkgrey;
           color: darkred; 
    }


    /*---------------------FOOTER--------------------------------------*/
    .footer{
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 59px;
        background-color: black;
        text-align: center;
    }

    .footer>p{
        border: 1px solid white;
        padding: 3px;
        display:inline-block;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer>p:hover{
        background-color: white;
        color: darkred;
        cursor: pointer;
    }
    
