body{
    background-image: url("../img/Kornet.png");
    height: 20vw;
    width: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: lightgray;
    font-size: 20px;
    }
    
#restName{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: darkred;
    position: absolute;
    font-weight: bold;
    margin-bottom: 5px; 
    padding-bottom: 5px;
    }

#reviewRes{
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
    position: absolute;
    border: 1px solid darkred;
    padding: 5px;
    margin-bottom: 5px;
}

#reviewRes>p{
    
}


/* ------------------------------------------------------------------------------------- */
/* ---------------------------------LOGOUT BUTTON---------------------------------------- */
#logout{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 10px 10px;
    background-color: white;
    color: darkgray;
    font: bold;
    font-size: 20px;

    border: 2px solid darkgray;   
    border-radius: 8px;   
} 

#logout:hover{
    box-shadow: 0 10px 20px darkgrey;
    color: darkred; 
}


    /*---------------------FOOTER--------------------------------------*/
    .footer{
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 59px;
        background-color: black;
        text-align: center;
        font-size: 15px;
    }

    .footer>p{
        border: 1px solid white;
        padding: 3px;
        display:inline-block;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer>p:hover{
        background-color: white;
        color: darkred;
        cursor: pointer;
    }